In [1]:
# Name Dipika Sharma
# DSC 540-T302 Data Preparation
# Week 3 & 4

# Exercise 3

In [2]:
import numpy as np
import pandas as pd

Create a series and practice basic arithmetic steps

a. Series 1 = 7.3, -2.5, 3.4, 1.5
i. Index = ‘a’, ‘c’, ‘d’, ‘e’

In [4]:
Value1 = 7.3, -2.5, 3.4, 1.5
index1 = 'a', 'c', 'd', 'e'

Series_1 = pd.Series(data=Value1, index=index1)

b. Series 2 = -2.1, 3.6, -1.5, 4, 3.1
i. Index = ‘a’, ‘c’, ‘e’, ‘f’, ‘g’

In [5]:
Value2 = -2.1, 3.6, -1.5, 4, 3.1
index2 = 'a', 'c', 'e', 'f', 'g'

Series_2 = pd.Series(data=Value2, index=index2)

In [6]:
Series_1

a    7.3
c   -2.5
d    3.4
e    1.5
dtype: float64

In [7]:
Series_2

a   -2.1
c    3.6
e   -1.5
f    4.0
g    3.1
dtype: float64

Add Series 1 and Series 2 together and print the results

In [8]:
Series_3 = Series_1+Series_2

In [11]:
print("The total of series 1 and series 2 is below:\n", Series_3)

The total of series 1 and series 2 is below:
 a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

In [19]:
# Using fill_value to get remove NaN values

print("Total of series after using fill_value is below: ")
Series_1.add(Series_2, fill_value=0)

Total of series after using fill_value is below:

a    5.2
c    1.1
d    3.4
e    0.0
f    4.0
g    3.1
dtype: float64

Subtract Series 1 from Series 2 and print the results

In [20]:
Series_4 = Series_2 - Series_1

In [21]:
print("Final series when we subtract 1 from series 2 is below:\n", Series_4)

Final series when we subtract 1 from series 2 is below:
 a   -9.4
c    6.1
d    NaN
e   -3.0
f    NaN
g    NaN
dtype: float64

In [22]:
# Using fill_value to get remove NaN values

print("Final of series after using fill_value is below: ")
Series_2.sub(Series_1, fill_value=0)

Final of series after using fill_value is below:

a   -9.4
c    6.1
d   -3.4
e   -3.0
f    4.0
g    3.1
dtype: float64